:root {
    --background: #eeeeee;
    --panel: #ececec;
    --element: #dadada;
    --elementDark: #c9c9c9;
    --light: #ffffff;
    --dark: #bebebe;
    --textLight: #bebebe;
    --text: #a7a7a7;
    --textDark: #969696;

    --radius: 7px;
    
}


