:root {


    /* Main Colors */
    --background: #24283B;
    --panel: #24283B;
    --popup: #2F334C;
    --element: #5F4BE2;
    --outline: #EBF1FF;

    --buttonColor: #4B0AFF;
    --buttonHover: rgba(0, 0, 0, 15%);
    --buttonActive: rgba(0, 0, 0, 30%);
    
    --text: #EBF1FF;  
    --icon: #EBF1FF;  

    --invalid: #ff1b0a;
    --valid: #008bf5;



    /* Saved Colors for Testing */
    --offWhite: #EBF1FF;
    --purple: #7C6EFF;
    --darkPurple: #4B0AFF;
    --purple2: #5F4BE2;
    --orange: #F2A32C;
    --blue: #008bf5;
    --darkBlue: #0074CC;
    --red: #7A0006;
    --lightRed: #ff1b0a;



    /* Other */
    --radius: 3px;
    --transitionSpeed: 0.2s;
}


